<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Why You Sad Foo?</title>

    <!--<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/foundation/5.4.7/css/foundation.min.css">-->
    <link href='http://fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>
    <style type="text/css">
      body{
        background-image: url(image/sativa.png);
        background-repeat: repeat;
      }

      img {
        margin-left: 50px;
      }
      .button {
        padding: 20px;
      }
      .main{
        min-height: 700px;
        max-height: 700px;
        max-width: 700px;
        margin: auto;
        background-color: rgba(256, 256, 256, .6);
        overflow: hidden;
      }
      .fadein {
        width: 100%;
        height: 100%;
        padding: 50px;
        margin: auto;
      }
    </style>
  </head>

  <body>

    <div class="main">
      <div class="button">
      </div>

      <div class="fadein">
          <!-- IMGs go here -->
      </div>
    </div>
  
    <script type="text/javascript">
      var apiKey = <%= ENV["SUPERMANKEY"] %>
    </script>
    <script src="vendor/js/jquery-2.1.1.js"></script>
    <script src="js/apiKey.js"></script>
    <script src="js/imgurAPI.js"></script>
    <script src="js/main.js"></script>
    <script src="js/buttonExec.js"></script>

  </body>
  
</html>