<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CONGRATS</title>

  <script>

  </script>

  <style>

    #paper{
      margin:auto;
      width:500px;
      height:500px;
    }

  </style>



</head>
<body>
  <h1>CONGRATULATIONS ON YOUR NEW FOUND HAPPINESS!</h1>
  <p>Time to happiness: <%= @data.click_time %></p>
  <p>Images till happiness: <%= @data.img_count %></p>
  <p>Average time until the happy: <%= @avg %></p>



  <div id="paper"></div>
  

  <script src="../vendor/js/jquery-2.1.1.js"></script>
  <script src="../vendor/raphael/raphael.js"></script>
  <script src="../vendor/raphael/g.raphael.js"></script>
  <script src="../vendor/raphael/g.bar.js"></script>
  <script src="../js/michelangelo.js"></script>


</body>
</html>