/*ANIMATION*/

.wrapper {
  margin:auto;
  width: 80em;
  margin-top: 14em;
}

.wrapper p{
  display:none;
  font-family: 'Finger Paint', cursive;
  float:left;
  width: 25%;
  font-size: 5em;
  text-align: center;
}   

.kerrigan{
  display:none;
}



/*STICKY NAV BAR*/

.sticky {
  position:fixed;
  width:100%;
  left:0;
  right:0;
  z-index:100;
  border-top:0;
  opacity: 0.4;
}



/*GENERAL*/


/*ALL FULL-WIDTH TAKES 100% SCREEN*/
.row.full-width {
  width: 100%;
  max-width: 100%;
  background-color: #FEFEFD
}


/*PANEL*/

body{
  background-color: #FEFEFD;
}

.panel{
  opacity:.85;
  margin-top:1em;
  margin-bottom:1em;
}


/*HEADER*/


.app-bar h1 {
  font-size: 3em;
  font-family: 'Finger Paint', cursive;
  padding:0.3em;
}



/*BUTTON*/
.button-width{
  width:100%;
}

.button{
  background-color: black;
  font-family: 'Finger Paint', cursive;
  font-size:1.5em;
}

.start-button{
  margin-bottom: 7em;
}


/*PICTURE BUFFER*/

.picture-buffer{
  background-color:   #FF9900;
  padding-top: 1.0em;
  opacity:0.2;
  margin-bottom: 7em;  
}


/*INTRODCUTORY CONTENT*/

.content{
  width:70%;
  margin-bottom:7em;
}

/*SMILE VS FROWN PICS*/
.row.full-width img{
  width:100%;
  opacity:0.8;
  height: 20em;
}

.frown{
  margin-top:0.23em;
}
.pics{
  margin-bottom: 3em;
}


/*HEADER IMAGE*/
/*DO NOT MOVE UP HAS TO BE BELOW SMILE VS FROM PICS*/
.row.full-width.header-image img{
  height:35.5em;
}


/*LINE BREAKER*/
hr{
  width: 90%;
  margin:auto;
  margin-bottom:7em;
}


/*GRAPHS*/
.graphs{
  margin-bottom:7em;
}



/*BOTTOM INFORMATION*/
.bottom-info{
  padding:1.3em;
  background-color: #FFB84D;
  opacity: .6;
}


/*FOOTER*/
.foot{
  background-color: black;
  color:white;
  text-align: right;
}

.foot p{
  font-size:0.7em;
  margin-top:4em;
}


